# notebook, don't commit in jupyter format. too messy
.ipynb_checkpoints
*.ipynb

# python temp files
*.pyc

# Data files
*.csv
*.gz
*.pkl
*.atf
*.abf
*.ibw
*.zip

cache/*

# Mats' convenience files
*.bat