# notebook, don't commit in jupyter format. too messy
.ipynb_checkpoints
*.ipynb

# python temp files
*.pyc

# Data files
*.csv
*.gz
*.pkl
*.atf
*.abf
*.ibw
*.zip

cache/**

# location of current user's brainwash project folder
projectFolderLocation.txt

# Mats' convenience files
*.bat
cfg.yaml
