#python==3.12
pyqt5
scipy-openblas64
pandas
joblib
matplotlib
jupyterlab
numpy
scikit-learn
scipy
seaborn
tqdm
jupytext
pyyaml
toml
requests
flake8
flake8-black
black
isort
nose2
pyabf
igor2
cx-Freeze
