#python==3.12
pyqt5
scipy-openblas64
pandas
joblib
matplotlib
numpy
scikit-learn==1.7.1
scipy
seaborn
tqdm
pyyaml
toml
requests
pyabf
igor2
pyarrow
cx-Freeze==8.5 # for building the executable, allowing this here to, is not that big
